body { 
    background-color: aliceblue;
    font-family: Helvetica; 
    text-align: center; 
}
hr{
    background-color: aliceblue;
    border-color: grey;    
    border-width: 10px;
    width: 8%;
    border-style: dotted none none;
}
h1 { 
    color:#577D86;
}
h2 {
    color: #11999E;
}
h3 { 
    color: #11999E;
    font-style: italic;
    font-size: larger;
}
table.center {
    margin-left: auto; 
    margin-right: auto;
}
p {
    line-height: 1.4;
}
